html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #000; }

a:visited {
  color: #000; }

a:hover {
  color: #000; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

::-moz-selection {
  background: #666;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #666;
  color: #fff;
  text-shadow: none; }

a {
  text-decoration: none; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Open Sans", sans-serif; }

.stage {
  width: 100%;
  height: 100%;
  background-image: url(../img/p2_caution.jpg);
  -webkit-background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

.title-block {
  margin: 40px; }

h1 {
  float: left;
  padding: 8px 12px;
  font-size: 28px;
  background-color: #F9F9F9;
  display: inline-block;
  font-weight: 300; }

.grade {
  float: left;
  font-size: 24px;
  padding: 10px 12px;
  background-color: #EFEFEF;
  font-weight: 300;
  color: green; }

.nav-arrow {
  width: 50px;
  height: 50px;
  background-color: #F5F5F5;
  position: absolute;
  margin-top: -25px;
  top: 50%;
  z-index: 999;
  opacity: 0.4;
  transition: 0.4;
  -webkit-background-size: 40px;
  background-size: 40px;
  background-position: center; }
  .nav-arrow:hover {
    opacity: 1;
    transition: 0.8; }

.next {
  right: 0;
  background-image: url("../img/right-arrow.png"); }

.prev {
  left: 0;
  background-image: url("../img/left-arrow.png"); }

.more {
  width: 50px;
  height: 50px;
  background-color: #F5F5F5;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../img/more.png");
  -webkit-background-size: 30px;
  background-size: 30px;
  background-position: center;
  opacity: 0.4;
  background-repeat: no-repeat; }

.deck {
  width: 100%;
  height: 240px;
  overflow: hidden;
  position: absolute;
  bottom: -240px;
  left: 0;
  background-color: #F5F5F5; }

.deck img {
  height: 235px;
  width: auto;
  float: left; }

.grade-nav-wrapper {
  width: 100%;
  height: 40px;
  position: absolute;
  left: 0;
  bottom: 0px;
  opacity: 0.4; }
  .grade-nav-wrapper:hover {
    opacity: 1; }

.grade-nav {
  margin-left: -126px;
  left: 50%;
  position: absolute; }
  .grade-nav li {
    padding: 12px 18px;
    font-size: 18px;
    display: inline-block; }
  .grade-nav li:first-child {
    background-color: #00dc00; }
  .grade-nav li:nth-child(2) {
    background-color: #28a000; }
  .grade-nav li:nth-child(3) {
    background-color: #506400; }
  .grade-nav li:nth-child(4) {
    background-color: #783c00; }
  .grade-nav li:nth-child(5) {
    background-color: #b61e00; }

.grades.gradea {
  border-top: 5px #00dc00 solid; }

.grades.gradeb {
  border-top: 5px #28a000 solid; }

.grades.gradec {
  border-top: 5px #506400 solid; }

.grades.graded {
  border-top: 5px #783c00 solid; }

.grades.gradef {
  border-top: 5px #b61e00 solid; }
